---
title: ISS Knowtify Search Analytics for Pivotal Cloud Foundry
owner: London Services
---

This documentation describes ISS Knowtify Search Analytics for Pivotal Cloud Foundry (PCF). The ISS Knowtify Search Analytics integrates log analytics, search, ingestion, and visualization with the PCF [Loggregator](https://docs.pivotal.io/pivotalcf/pivotalcf/loggregator/index.html) system. 

<p class="note"><strong>Note</strong>: This product was previously known as Knowtify Log Analytics for Pivotal Cloud Foundry.</p>

<%= image_tag("tile.png") %>

##<a id='overview'></a> Overview

After [installing](installing.html) the ISS Knowtify Search Analytics tile, PCF operators can navigate to a URL in a browser to [access](using.html) the ISS Knowtify Search Analytics dashboard. The dashboard shows near-real-time data about the deployment in a customizable analytic display.

The features of ISS Knowtify Search Analytics include the following:

* Based on Apache Solr, the open-source enterprise search platform
* Designed to be dynamically scalable to 50 Apache Solr nodes and hundreds of millions of documents
* Visualizes data from multiple data sources

##<a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about ISS Knowtify Search Analytics for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 26, 2016</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Knowtify Search Analytics v1.0.1.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.5.x, v1.6.x, v1.7.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.4.x, v1.5.x, v1.6.x, v1.7.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Services (PAS)* version(s)</td>
        <td>v2.0.0</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. If your tile supports PCF 2.0, it will use PAS, not Elastic Runtime.

##<a id='feedback'></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or to [ISS](mailto:knowtify@issinc.com).
