---
title: ISS Knowtify Search Analytics for Pivotal Cloud Foundry&reg;
owner: London Services
---

This documentation describes ISS Knowtify Search Analytics for Pivotal Cloud Foundry&reg; (PCF). The ISS Knowtify Search Analytics integrates log analytics, search, ingestion, and visualization with the PCF [Loggregator](../pivotalcf/loggregator/index.html) system. 

<p class="note"><strong>Note</strong>: This product was previously known as Knowtify Log Analytics for Pivotal Cloud Foundry&reg;.</p>

##<a id='overview'></a> Overview

After [installing](installing.html) the ISS Knowtify Search Analytics tile, PCF operators can navigate to a URL in a browser to [access](using.html) the ISS Knowtify Search Analytics dashboard. The dashboard shows near-real-time data about the deployment in a customizable analytic display.

The features of ISS Knowtify Search Analytics include the following:

* Based on Apache Solr, the open-source enterprise search platform
* Designed to be dynamically scalable to 50 Apache Solr nodes and hundreds of millions of documents
* Visualizes data from multiple data sources

##<a id='snapshot'></a> Product Snapshot

<dl>
<dt>Current ISS Knowtify Search Analytics for Pivotal Cloud Foundry Details</dt>
<dd><strong>Version</strong>: v1.0.1.1 </dd>
<dd><strong>Release date</strong>: July 15, 2016</dd>
<dd><strong>Software component version</strong>: Knowtify Search Analytics v1.0.1.1</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: 1.4.x, 1.5.x, 1.6.x, 1.7.x</dd>
</dl>

##<a id='feedback'></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or to [ISS](mailto:knowtify@issinc.com).
