---
title: ISS Knowtify Search Analytics Release Notes
owner: London Services
---

<p class="note"><strong>Note</strong>: ISS Knowtify Search Analytics for Pivotal Cloud Foundry was previously known as Knowtify Log Analytics for PCF.</p>


### 1.0.2

**Release Date: 26th July 2016**

Features included in this release:

* General Availability release
* Highly available SolrCloud configuration out of the box with 5 VMs
* Requires stemcell 3262 
* Version number  1.0.1.1
* Release date  July 15, 2016
* Dashboarding tool for SolrCloud 
* Extensible SolrCloud (based on Solr 4.10)
* SolrCloud management tooling

### 0.1.1
**Beta Release Date: 22 October 2015**

<p class="note"><strong>Note:</strong> For this version number, the product was known as Knowtify Log Analytics for PCF.</p>

#### Overview

* Persistent disk for Zookeeper config and Solr data
* Shortened URL to `kla.PCF-APP-DOMAIN/kla` for the KLA dashboard
* Tile configuration - removed user inputs where values could be retrieved via tile manifest configuration (UAA and NATS related parameters)

#### Changes
* Required upgrade of stemcell to 3094

